body {
    background-color: hsl(212, 45%, 89%);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
main {


    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 470px;
    border-radius: 0.4cm;
}
p{
    display:block;
    text-align: center;
    font-size: 13px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}
#boldText{
    font-size: 18px;
    font-weight: 700;
}
#qr-code{
    display: block;
    border-radius: 0.6cm;
    border: 12px solid white;
    max-width: 92%;
    height: auto;
}

.attribution{
    position:absolute;
    bottom:0;
    left:0;
}